.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    display: inline;
    top: 0;
    left: 0;
    background-color: #333;
    padding-top: 20px;
    margin-right: 300%;
  }

  .ordered{
    background-color: aqua;
    display: inline;
    list-style-type: none;
    padding: 0;

  }

  .list-items{
    margin-bottom: 10px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
  }
  
  .sidebar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .sidebar hr {
    margin: 10px 0;
  }
  
  /* .sidebar ul {
    list-style-type: none;
    padding: 0;
  } */
  
  /* .sidebar li {
    margin-bottom: 10px;
  } */
  
  .sidebar i {
    margin-right: 10px;
  }
  
  .sidebar lists {
    margin-right: 20px;
    
  }
  
  .sidebar-footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: white;
  }

  